node_modules
.env
.env.dev
.env.production
package-lock.json
.DS_Store
helper/third-party-cred/*
.scannerwork

.openzeppelin/
.secret
secrets.json
wallets/
keys/
mnemonic.txt
private-keys.txt
.privatekey

# Hardhat
cache/
artifacts/
typechain/
typechain-types/
coverage/
coverage.json 

# Ignition deployment files
ignition/deployments/
ignition/cache/